/* TODO Добавить стили для заголовка */
h1{
	text-align: center;/*заголовок по центру*/
	padding:0.5cm;
	letter-spacing:0.3cm;
	font:bold 25px Georgia;
}
/* TODO Добавить стили для контента */
body{
	background-color: #eedae9;
	color: black
}
/* TODO Добавить стили для подвала */